/*
This is a good layout for a mobile-first CSS template.
*/

/* THIS LINE LOADS IN A NICE RESET TO ENSURE ALL BROWSERS HAVE THE SAME BASE STYLES */

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
/* Start your base/mobile styles here */

* {
  box-sizing: border-box;
}

html, body {
  /* Sets default font-size to 16px, ensuring 1em = 16px; */
  font-size: 16px;
}

.main {
  width: 100%;
}

.container {
  max-width: 90%;
}

/* Tablet/Desktop overrides */

@media(min-width: 681px) {
  /* Any adjustments for tablets and larger go here. Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */
}

@media(min-width: 729px) {
  /* Any adjustments for desktop and larger go here. Note these styles will be applied to anything 729px or larger -- so desktop */
  .container {
    max-width: 50%;
    margin: 0 auto;
    /* padding: 0 50% 0 50%; */
  }
}